.ExperienceWindow-h1 {
    font-size: xx-large;
}

.ExperienceWindow-h2 {
    font-size: x-large;
}

.ExperienceWindow-p {
    font-size: large;
    font-family: monospace;
}

.ExperienceWindow-span {
    font-size: 18px;
    font-family: monospace;
}

span {
    font-family: monospace;
    font-size: 14px;
    margin: 2px !important;
}