.EducationWindow-h1 {
    text-shadow: none;
    font-size: xx-large;
}

.EducationWindow-h2 {
    text-shadow: none;
    font-size: x-large;
    font-family: sans-serif;
}

.EducationWindow-p {
    text-shadow: none;
    font-size: medium;
    font-family: monospace;
}

.EducationWindow-span {
    font-size: 18px;
    font-family: monospace;
}

span {
    font-family: monospace;
    font-size: 14px;
    margin: 2px !important;
}