:root {
    --crt-red: rgb(218, 49, 49);
    --crt-green: rgb(112, 159, 115);
    --crt-blue: rgb(40, 129, 206);
}

.gradient {
    background-image: radial-gradient(circle at center, #656565, #ffffff);
}

.App-taskBar-size {
    height: 40px !important;
    z-index: 20;
}

.App-taskBar-size button {
    width: 80px !important;
    font-size: 16px !important;
    text-align: start !important;
    justify-content: center !important;
}

.App-taskBar-size button div {
    margin-bottom: 2px !important;
    margin-right: 2px !important;
}

.App-taskBar-size div:last-child {
    font-size: large;
    text-align: center;
    margin-right: 2px; 
}

.App-taskBar-size div:last-child div {
    margin-right: 0px;
    margin-top: 3px;
}

.App-dragZone-size {
    width: 100%; 
    height: 95.5%; 
    margin-bottom: 40px;
}

.App-shortcut-text-spacing {
    margin-top: 4px !important;
}

.crt {
    position: relative;
    &:before,
    &:after {
        content: "";
        transform: translateZ(0) !important;
        pointer-events: none !important;
        mix-blend-mode: overlay !important;
        position: absolute !important;
        height: 100% !important;
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        z-index: 1 !important;
    }
  
    &:before {
        background: repeating-linear-gradient(
            var(--crt-red) 0px,
            var(--crt-green) 2px,
            var(--crt-blue) 4px
        ) !important;
    }
    &:after {
        background: repeating-linear-gradient(
            90deg,
            var(--crt-red) 1px,
            var(--crt-green) 2px,
            var(--crt-blue) 3px
        ) !important;
    }
}
  