@import "tailwindcss";

:root {
    --background: #09090A;
    --foreground: #F3F4F6;
    --primary: #729B8E;
    --accent: #D47E53;
    --border: #222226;
    --glow: #0e0500;
}

@theme {
    --color-background: #09090A;
    --color-foreground: #F3F4F6;
    --color-primary: #729B8E;
    --color-accent: #D47E53;
    --color-border: #222226;
    --color-glow: #0e0500;

    --font-instrument: "Instrument Serif", ui-serif, Georgia, serif;
    --font-geist: Geist;
}